<nav class="navbar navbar-expand-lg navbar-light bg-light" id="topNav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle side-nav">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="cursor: pointer;" (click)="onSelect(n)" *ngFor="let n of menuName">
            <a class="nav-item nav-link">{{n.name}}</a>
        </div>
    </div>
</nav>